<header>
  <img src="../../../assets/img/SimboloUni.png" class="simbolo" alt="">
  <h1> 6to. encuentro estatal de jovenes investigadores
    <br> en baja california 2019</h1>
  <img src="../../../assets/img/conacytlogo.jpg.png" class="estudio" alt="">
  <nav>
    <ul>
      <li><a [routerLink]="['/home']">Inicio</a></li>
      <li><a [routerLink]="['/convocatoria']">Convocatoria</a></li>
      <li><a [routerLink]="['/mapa']">Mapa</a></li>
      <li><a [routerLink]="['/contacto']">Contacto</a></li>
      <li><a [routerLink]="['/ganadores']">Ganadores</a></li>

      <li><a [routerLink]="['/']">CPI</a></li>
      <li><a [routerLink]="['/']">#</a></li>
      <li><a [routerLink]="['/']">#</a></li>
      <li><a [routerLink]="['/']">#</a></li>
      <li><a [routerLink]="['/']">#</a></li>
    </ul>
  </nav>
</header>
