header {
  /* width: 80%; */
  height: 230px;
  background: rgb(8, 141, 15);
  margin: 0 auto;
  max-width: 1230px;
  min-width: 784px;
  padding: 0;
}

header h1, img{
    display: inline-block;
    margin: 20px;
}

header .simbolo{
    width: 90px;
    height: 112px;
    /* background: #000; */
}

header h1{
    width: 812px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

header .estudio{
   width: 150px;
   height: 115px;
   /* background: #000; */
   margin-top: auto;
   margin-bottom: auto;
}

nav {
  width: 100%;
  background: rgb(187, 119, 10);
  padding: 0;
  margin: 20px auto;
  margin-bottom: 150px;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-top: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  font-size: 24px;
}

nav ul li a:hover {
  background: rgb(6, 79, 92);
}