body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e8e8;
}

.mail {
  width: 80%;
  height: 600px;
  background: rgb(8, 141, 15);
  margin: 0 auto;
  max-width: 1230px;
  min-width: 784px;
  background: rgb(231, 221, 221);
  /* background: gray; */
  border: 5px solid black;
}

.mail article{
    width: 100%;
    height: 300px;
    padding: 10px;
    /* padding-top: 20px; */
    /* padding-bottom: 15px; */
    /* background: red; */
    margin: 25px;
    font-size: 30px;
}

.mail p{
    /* margin: 15px; */
    padding-right: 10px;
}

.mail article p, ol{
    text-align: left;
    /* font-size: 22px; */
}


.mail article ol li a, p > a{
    text-decoration: none;
    color: rgb(9, 133, 204);
}