<div class="mail">
  <h2>Contacto</h2>
  <article>
    <p>Para mayor información o dudas sobre el evento favor de comunicarse vía correo 
      electrónico con el comité de su área:</p>
    <ol>
      <li> Ciencias Agropecuarias: <a href="#">areacienciasagropecuarias@uabc.edu.mx</a></li>
      <li> Ciencias de Ingeniería y Tecnología: <a href="#">areacingenieriatecnologia@uabc.edu.mx</a></li>
      <li> Ciencias de la Salud: <a href="#">areacienciassalud@uabc.edu.mx</a></li>
      <li> Ciencias Naturales y Exactas: <a href="#">areanaturalesexactas@uanc.edu.mx</a></li>
      <li> Ciencias Sociales y Económico Administrativas: <a href="#">areasociales@uabc.edu.mx</a></li>
      <li> Ciencias de la Educación y Humanidades: <a href="#">areahumanidades@uabc.edu.mx</a></li> 
    </ol>
    <p>Si tiene dudas o problemas con el registro de sus trabajos comunicarse al 
      correo electrónico <a href="#">jgonzalez41@uabc.edu.mx</a></p>
  </article>
</div>
