<div class="seccionUno">
   <section class="galeria">
    <p>HOLA</p>
  </section>
  <section class="datos">
    <article class="dir">
      <div class="sec1"> 
        <img src="../../../../img/banner1.png" alt="">
        <p>DIRIGIDO A: </p>
      </div>
      <div class="sec2">
        <p>Jóvenes estudiantes de los centros de enseñanza superior del estado de Baja California, que se encuentren
          cursando los últimos semestres de licenciatura, que actualmente colaboren o hayan desarrollado trabajos de
          investigación o desarrollo tecnológico en el último año.</p>
      </div>
    </article>

    <article class="objetivo">
      <div class="sec1">
        <img src="../../../../img/banner1.png" alt="">
        <p>OBJETIVO: </p>
      </div>
      <div class="sec2">
        <p>Presentar los trabajos de investigación que realizan los estudiantes de licenciatura, con el fin de estimular
          la vocación científica, la innovación y la transferencia de conocimientos de los jóvenes .</p>
      </div>
      <div class="sec3">
        <img src="../../../../img/rpassword.png" alt="#">
        <p>RECUPERAR CONTRASEÑA</p>
      </div>
    </article>

    <article class="modalidades">

       <div class="sec1">
         <img src="../../../../img/banner1.png" alt="">
         <p>MODALIDADES: </p>
       </div>

       <div class="sec2">
         <p>Jóvenes estudiantes de los centros de enseñanza superior del estado de Baja California, que se encuentren
           cursando los últimos semestres de licenciatura, que actualmente colaboren o hayan desarrollado trabajos de
           investigación o desarrollo tecnológico en el último año.</p>
       </div>

       <div class="sec4">
         <ol>
           <li>Ciencias Agropecuarias.</li>
           <li>Ciencias de la Ingeniería y Tecnología.</li>
           <li>Ciencias de la Salud.</li>
           <li>Ciencias Naturales y Exactas.</li>
           <li>Ciencias Sociales y Económico Administrativas.</li>
           <li>Ciencias de la Eduación y Humanidades.</li>
         </ol>
       </div>

       <div class="sec3">
         <img src="../../../../img/rpassword.png" alt="#">
         <p>MANUAL DE REGISTRO</p>
       </div>
    </article>

    <article class="fechas">
      <div class="sec1">
        <img src="../../../../img/banner1.png" alt="">
        <p>FECHA Y LUGAR: </p>
      </div>
      
      <div class="sec2">
        <p>
          <span>AVISO:
            <br><br>
            limite de registro: Lunes 1 de septiembre del 2019
          </span>
         <br><br>
         26 y 27 de Septiembre de 2019 de 09:00 am a 18:00 pm, en el Museo Interactivo Tijuana el Trompo.
         <br><br>
         Av de los Insurgentes s/n, Rio Tijuana 3ra Etapa, 22226 Tijuana, B.C.
      </p>
      </div>

      <div class="sec3">
        <img src="../../../../img/rpassword.png" alt="#">
        <a href="https://www.facebook.com/6to-Encuentro-Estatal-de-J%C3%B3venes-Investigadores-en-BC-2019-260462587470251/" target="_blank" rel="noopener noreferrer">FAN PAGE</a>
      </div>
    </article>
  </section>
  <footer>
    <h4>Copyright ©2017. All rights reserved</h4>
  </footer>
</div>